/******************************************
/* SETUP
/*******************************************/

* {

box-sizing: border-box; 
}


/******************************************
/* BASE STYLES
/*******************************************/

a {
text-decoration: none;
color: black;
}

header a:hover {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
text-decoration: none;
}
li a .main-read-more {
text-decoration: none;
}

.sub-hero-text ul {
padding: 0;
}

.sub-hero-text ul li {
list-style-type: none;;
}

.sub-hero-text ul li a {
color: black;
font-weight: 400;
letter-spacing: 1px;
}

.sub-hero-text ul li a:hover {
text-decoration: underline;
}

.sub-hero-text-2 ul {
padding: 0;
}

.sub-hero-text-2 ul li {
list-style-type: none;;
}

.sub-hero-text-2 ul li a {
color: black;
font-weight: 400;
letter-spacing: 1px;
}

.sub-hero-text-2 ul li a:hover {
text-decoration: underline;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
background: #fff;
display: grid;
grid-template-columns:50% 50%;
grid-template-rows: 400px 150px 400px 400px 200px;

grid-template-areas: "a a"
           "b b"
           "c d"
           "e f"
           "g g";
grid-gap: 20px;
font-size: 12px;
line-height: 1.4;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-weight: 300;
margin: 0;

}

header.page-header { /* selects header elements that have the class name of page-header */
/*padding-top: 32px;*/
background: url('../images/blog-header.jpg') no-repeat top center;
background-size: cover;
display:flex;
flex-direction: row;
flex-wrap: wrap;
padding: 20px 75px;
justify-content: space-between;
align-items: flex-start;
grid-area: a;
}

header nav, header .logo{
width:40%;
font-size: 18px;
font-weight: 400;
letter-spacing: 3px;
color: white;
}

header nav {
display: flex;
justify-content: flex-end;
}

header nav ul {
display: flex;
list-style: none;
}

header nav ul li a {
display: block;
padding: 10px 20px;
font-size: 12px;
color: white;
font-weight: 300;
letter-spacing: 3px;
text-decoration: none;
}

header nav ul li a:hover {
text-decoration: underline;
}

h1, h3 {
letter-spacing: 2px;
}


section#sub-hero-text-container {
  display: flex;
  grid-area: b;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

h2 {

font-size: 20px;
color: #FFF;
font-weight: 300;
letter-spacing: 4px;
text-shadow: black .25px .25px .25px

}

header h1 {
font-size: 40px;
margin-bottom: 30px;
margin-top: 10px;
color: #FFF;
font-weight: 300;
letter-spacing: 3px;
text-shadow: black .25px .25px .25px
}

header div {
  top: 25%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.sub-hero-text {
  width: 40%;
  align-self: center;
  text-align: center
}

.sub-hero-text-2 {
  width: 100%;
  align-self: center;
  text-align: center
}

section#first-left {
grid-area: c;
margin: 10px;
}

section#first-right {
grid-area: d;
margin: 10px;
}

section#second-left {
grid-area: e;
margin: 10px;
}

section#second-right {
grid-area: f;
margin: 10px;
}

section#first-left img {
display: block;
margin: 0 auto;

}

section#first-right img {
display: block;
margin: 0 auto;
}

section#second-left img {
display: block;
margin: 0 auto;
}

section#second-right img {
display: block;
margin: 0 auto;
}

.sub-blogs {
padding: 0 125px;
}

.logo {
font-size: 16px;
font-weight: 400;
letter-spacing: 3px;
}

footer {
grid-area: g;
padding: 20px 0 20px;
background: rgba(242,244,246, 1);
text-align: center;
}

footer .logo {
color: rgb(113,122,128);
margin: 20px;
}

footer p {
font-size: 9px;
color: rgb(113,122,128);
font-weight: 700;
}

footer nav {
display: inline-block;
justify-content: space-between;
}

footer nav ul {
display: flex;
list-style: none;
}

footer nav ul li a {
display: block;
padding: 10px 20px;
color: black;
font-weight: 300;
letter-spacing: 1px;
}

footer nav ul li a:hover{
text-decoration: underline;
}

footer nav div {
align-items: center;
}

.social-icons-container{
  margin: 0 auto;  /* centers this icon container relative to its parent */
  width: 100px;
  display: flex;  /* allows us to easily space its children (the individual icons) */
  justify-content: space-between;
}

/* MOBILE */

@media screen and (max-width: 780px){

body {
  font-size: 1.5em;
}

body.blog { 
display: grid;
grid-row-gap: 30px;
min-height: 100vh;
grid-template-columns: 100%;
grid-template-rows: minmax(300px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(75px, auto);
grid-template-areas: "a"
                     "c" 
                     "d"
                     "e"
                     "f"
                     "g"

}

header h1 {
  font-size: 1.75em;
}

header {
  flex-direction: column;
}

.menu {
  display: block;
}

.menu {
  padding:0px;
  width:2em;
  background:none;
}

.menu div {
  height: 2px;
  width:100%;
  background:white;
  margin: .25em 0;
}

.menu:hover {
  cursor:pointer;
}

nav.open{
  max-height: 75vh;
}

  }